<div class="card mb-3" style="width: 25rem; min-width:fit-content; border: 2px solid #006400;">
    <div class="card-header pt-3 mb-0 text-center">
        <a href="/recipe/{{id}}" style="color:#006400;">
            <h4 id="recipe-title" class="card-title">{{name}}</h4>
        </a>
    </div>
    <div class="card-body">
        <p class="card-text">Cook Time: {{cook_time}}</p>
    </div>
</div>