<div class="card mb-3" style="width: 350px; min-width:275px; border: 2px solid #006400; min-height:fit-content; height:200px;">
    <div class="card-header pt-3 mb-0 text-center" style="display: flex; align-items: center;">
        <a href="/recipe/{{id}}" style="color:#006400;">
            <h4 id="recipe-title" class="card-title">{{name}}</h4>
        </a>
        {{#if image_url.length}}
        <image src="{{image_url}}" alt="Recipe image" style="height: 100px; width:auto; border: 1px solid #006400; margin-left: 10px;"></image>
        {{/if}}
    </div>
    <div class="card-body">
        <p class="card-text">Cook Time: {{cook_time}}</p>
    </div>
</div>