<div class="d-flex justify-content-center vh-100">
    <div class="card align-self-center">
        <div class="card-header mb-0">
            <h2 class="card-title" style="font-size: 1.5rem">Sign-Up</h2>
        </div>
        <form>
             <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="username" class="form-control" id="signup-username">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="signup-password">
            </div>
            <button type="submit" class="btn btn-primary" id="submit-signup-btn">Submit</button>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>

