
  @media screen and (max-width: 765px) {}
    body {
        background-color: red;
    }

    main {
        background-color: red;
        
    }
    .box {
        width: 100%;
    }

@media screen and (min-width: 766px) {
   main{

    background-color: white;
    
        
}
    body{
        background-color: black;
        color:aqua;
    }
    .box{
        width: 30%;
    }
}






