.component {
    color: var(--bs-gray-800);
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    border-radius: .25rem;
  }
  
  .component-header {
    color: var(--bs-purple);
  }

<<<<<<< HEAD

  body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
  }
  
  .table {
    --bs-table-color: var(--bs-gray-600);
    --bs-table-bg: var(--bs-gray-100);
    --bs-table-border-color: transparent;
  }




@media screen and (max-width: 765px) {}
=======
body {
    background-color: #83c082;
    margin-bottom: 80px; 
}

.navbar {
    background-color: #9fb7a5;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    height: 100px; 
}

.nav-link {
    color: #045f22;
    font-size: 25px; 
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #05410e;
}

main {
    padding: 20px;
}

footer {
    background-color: #ffffff;
    color:  #045f22;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
}

  @media screen and (max-width: 765px) {}
>>>>>>> 52dcb99c69cb787de819f48d471f1c256ff8ac12
    body {
        background-color: white;
    }

    main {
        background-color: white;  
    }

@media screen and (min-width: 766px) {
   main{

    background-color: white;
    
}

}






